.img-index-position{
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.logo-config{
    position: absolute;
    top: 10.6%;
    left: 10%;
    width: 30%;
    height: 23%;
}

.font-index{
    color: white;
}

.p-size{
    font-size: 24px;
}

.logo-index{
    text-align: right;
    position: absolute;
    left: 15.2%;
    bottom: 27%;
    width: 29%;
    height: 13.7%;
}

.div-button{
    position: absolute;
    top: 8%;
    right: 1%;
    width: 25%;
}

.div-buttons{
    position: absolute;
    bottom: 14%;
    left: 7%;
    width: 50%;
}

.button-style{
    padding: 2%;
    font-size: 20px;
    text-decoration: none;
    border-radius: 20px;
    margin: 3%;
} 

.color-button-1{
    background-color: #1B8288;
}

.color-button-1:hover{
    background-color: #1DADB6;
}

.padding-button-2{
    padding: 2% 9%;
}

.padding-button-3{
    padding: 4% 9%;
}

.color-button-2{
    background-color: #12D4E0;
}

.color-button-2:hover{
    background-color: #96FEFF;
}