#page-create-partner {
    width: 100vw;
    height: 100vh;
}

#page-create-partner main {
    max-width: 700px;
    max-height: 3000px;
    margin: 3.2rem auto;
    background-color: white;
    border: 1px solid #D3E2E5;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#page-create-partner main h1 {
    color: #4D6F80;
    border-bottom: 1px solid #91a3a7;
    font-weight: 700;
    margin: 5% auto;
}

#page-create-partner main form {
    width: 90%;
    margin-top: 7% 0%;
}

#avatar-container {
    width: 100%;
    justify-content: center;
    padding-bottom: 3rem;
}

#user-avatar {
    position: relative;
    width: 25rem;
    height: 25rem;
    border: 0;
    border-radius: 100%;
    margin: 0 auto;
    background-color: #D3E2E5;
}

#page-create-partner main form fieldset {
    border: 0;
    padding: 0 2.4rem;
}

#page-create-partner main form fieldset+fieldset {
    margin-top: 6.4rem;
}

#page-create-partner main form button {
    align-self: center;
}