.input-radio{
    display: none;
}

.radio-container{
    margin: 1% 0% 6%;
}

.radio-label{
    position: relative;
}

.font-color-radio{
    z-index: 1;
    color: #5C8599;
    font-size: 19px;
}

.radio-label::before{
    z-index: -1;
    content: '';
    position: absolute;
    width: 275px;
    height: 55px;
    border: 1px solid #D3E2E5;
    background-color: #F5F8FA;
}

.radio-label-yes::before{
    top: -14px;
    left: -118px;
    border-radius: 20px 0px 0px 20px;
}

.radio-label-no::before{
    top: -15px;
    left: -120px;
    border-radius: 0px 20px 20px 0px;
}

.radio-label-no{
    left: 364px;
    top: 15px;
}

.radio-label-yes{
    left: 118px;
    top: 14px;
}

input:checked+.radio-label::before{
    border: 1px solid #A1E9C5;
    background-color: #EDFFF6;
}

input:checked+.font-color-radio{
    color: #37C77F;
}