.checkbox-value {
    display: none;
}

.checkbox-label{
    position: relative;
}

.checkbox-label::before {
    content: "";
    position: absolute;
    left: -30px;
    width: 24px;
    height: 24px;
    border: solid 1px #D3E2E5;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #F5F8FA;
}

input:checked+.checkbox-label::before {
    background-color: #37C77F;
}

.checkbox-container{
    float: left;
    margin: 0% 30% 2% 0%;
}