body {
    margin: 0px;
    font-family: 'Nunito';
}

.panel {
    background-color: #F5F8FA;
}

.panel-master {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    display: flex;
}

.box-left {
    width: 63%;
    height: 100vh;
}

.content-left {
    display: flex;
    justify-content: center;
    align-items: center
}

.content-right {
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.box-right {
    width: 37%;
    height: 100vh;
    background-color: white;
}

.margin-content {
    margin-left: 86px;
}

.company-name {
    color: white;
}

.title-login {
    color: #5C8599;
    margin-bottom: 8%;
}

input {
    display: flex;
}

.input-style {
    border: 1px solid #D3E2E5;
    box-sizing: border-box;
    border-radius: 20px;
    background: #F5F8FA;
    width: 360px;
    height: 64px;
    margin: 2% 0px;
    padding: 15px;
}

.btn-style {
    width: 360px;
    height: 64px;
    background: #85E8BE;
    border-radius: 20px;
    border: #85E8BE;
    justify-content: center;
    color: white;
    transition-duration: 0.4s;
}

.btn-style:hover {
    background-color: #37C77F;
}

.align-content-input {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 3% 0% 7% 12%;
}

.ckb-style {
    display: none;
}

.lbm-check {
    position: relative;
}

.lbm-check::before {
    content: "";
    position: absolute;
    left: -30px;
    width: 24px;
    height: 24px;
    border: solid 1px #D3E2E5;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #F5F8FA;
}

input:checked+.lbm-check::before {
    background-color: #37C77F;
}

.link-style {
    text-decoration: none;
    color: #8FA7B3;
}

.link-style-menu {
    text-decoration: none;
}

.link-style-menu::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 24px;
    width: 48px;
    height: 48px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 16px;
    background-color: #12AFCB;
}

.link-style-menu:hover::before {
    background-color: #17D6EB;
}

.margin-left {
    margin-left: 16%;
}

.margin-top {
    margin-top: 3%;
}

.font-color {
    color: #8FA7B3;
}

.display-content {
    display: flex;
    justify-content: initial;
    align-items: center;
}

.menu {
    position: fixed;
    background-color: #15C3D6;
    height: 100vh;
    width: 6.67%;
}

.panel-register {
    background-color: white;
    width: 49.2%;
    height: 100%;
    border: 1px solid #D3E2E5;
    box-sizing: border-box;
    border-radius: 20px;
}

.panel-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.margin-register-top {
    margin-top: 5%;
}

.title-register {
    color: #4D6F80;
    margin: 5%;
}

.content-center {
    display: flex;
    justify-content: center;
}

.line {
    border-bottom: 1px solid #D3E2E5;
}

.circle {
    height: 270px;
}

.circle::after {
    content: "";
    position: absolute;
    width: 269px;
    height: 269px;
    border: solid 1px #616161;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 100%;
    background-color: #C4C4C4;
}

.margin-logo-menu {
    margin: 10%
}

.img {
    margin-top: 8%;
    z-index: 1000;
}

.div-form {
    margin: 7% 0%;
}

.btn-margin {
    margin-top: 10%;
}

.register {
    width: 450px;
    height: 60px;
}

.img-position {
    position: absolute;
    bottom: 22px;
    left: 36px;
}